#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Outlook 365 [live]
Exec=outlook.sh
Comment=
Terminal=false
Icon=outlook365.png
Type=Application
Name[en_US]=Outlook365
